<!DOCTYPE html>
<html>  
<head>
<meta charset="utf-8">
	<title>Página del autor</title>
	    <link rel='stylesheet' href='/stylesheet/style.css'/>
</head>
<body>
<h1> Hola, bienvenidos al Quiz desarrollado por:</h1>
<br>
<h2><strong><%= autor %></strong></h2>
<br>
<img src="https://scontent.fmad3-1.fna.fbcdn.net/hphotos-prn2/v/t1.0-9/563575_457181964329115_1040734270_n.jpg?oh=0f33517728efa66f4597a7d503ac9f54&oe=5774C2A8">
<br>
<iframe src="https://www.youtube.com/embed?v=2DYT7B67Pqg"></iframe>


</body>
</html>